/.coverage
/.git
/.vscode
/node_modules
/src
**/*.DS_Store
**/*.spec.js
**/*.spec.jsx
**/*.spec.ts
**/*.spec.tsx
**/*.test.js
**/*.test.jsx
**/*.test.ts
**/*.test.tsx
**/*.tsbuildinfo
.env
.gitignore
docker-compose.yml
pnpm-lock.yaml
tsconfig.json
