services:
  kysely_codegen_adminer:
    container_name: kysely_codegen_adminer
    image: adminer
    ports:
      - 8081:8080
    restart: always
  kysely_codegen_libsql:
    container_name: kysely_codegen_libsql
    image: ghcr.io/libsql/sqld:latest
    ports:
      - 8080:8080
    restart: always
  kysely_codegen_mysql:
    container_name: kysely_codegen_mysql
    environment:
      - MYSQL_DATABASE=database
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=user
    image: mysql:latest
    ports:
      - 3306:3306
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "user", "-ppassword"]
      interval: 2s
      timeout: 10s
      retries: 10
      start_period: 10s
  kysely_codegen_postgres:
    container_name: kysely_codegen_postgres
    environment:
      - POSTGRES_DB=database
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
    image: postgres:latest
    ports:
      - 5433:5432
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d database"]
      interval: 2s
      timeout: 5s
      retries: 5
      start_period: 5s
